In [1]:
import pandas as pd #导入pandas库

In [12]:
a = [12,13,14,15]
s = pd.Series(a)

s

0    12
1    13
2    14
3    15
dtype: int64

In [4]:
s[3]

15

In [9]:
df = pd.DataFrame({'cell1':['a','b','c','d'],'cell2':[1,5,8,9],'cell3':range(6,10)})
df

  cell1  cell2  cell3
0     a      1      6
1     b      5      7
2     c      8      8
3     d      9      9